
@{
    ViewBag.Title = "系统";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Areas/Manage/Views/System/LeftMenu.cshtml")

<div class="ck-content-body">



    <h2>@ViewBag.Title</h2>

</div>

